### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from math import sqrt
import random

### Loading Data

In [2]:
aircraftData = pd.read_csv("aircraftDataset.csv")
airportData = pd.read_csv("airportDataset.csv")
weatherData = pd.read_csv("weatherDataset.csv")

In [3]:
# Converting to dataframe
aircraftData = pd.DataFrame(aircraftData)
airportData = pd.DataFrame(airportData)
weatherData = pd.DataFrame(weatherData)

### Initial EDA

#### Aricraft Data

In [4]:
aircraftData.shape

(700, 5)

In [5]:
aircraftData.head()

,Aircraft Type,Max Range,Cruise Speed,Fuel Consumption at Cruise,ICAO CODES
0,Aircraft 1,3524.704974,440.407155,1084.211636,MULT
1,Aircraft 2,7463.252518,474.475130,494.213927,KARA
2,Aircraft 3,7810.298939,463.793756,402.758677,PESH
3,Aircraft 4,1442.066536,188.000000,788.008426,SIAL
4,Aircraft 5,6261.240012,411.286311,993.237674,SUKK

In [6]:
aircraftData.describe()

         Max Range  Cruise Speed  Fuel Consumption at Cruise
count   700.000000    700.000000                  700.000000
mean   4338.279857    398.557299                  819.552563
std    2158.027507    128.588628                  382.659655
min     503.043901    188.000000                  100.746911
25%    2534.569663    325.208154                  507.674646
50%    4362.850911    411.506353                  871.167450
75%    6252.237543    500.277894                 1123.902118
max    7999.633979    599.906437                 1498.303445

In [9]:
aircraftData.isnull().sum()

Aircraft Type                 0
Max Range                     0
Cruise Speed                  0
Fuel Consumption at Cruise    0
ICAO CODES                    0
dtype: int64

In [16]:
aircraftData['ICAO CODES'].value_counts()

ICAO CODES
QUET    71
GUJR    70
RAWA    63
GWAD    62
KARA    59
SIAL    59
FAIS    57
ISLA    56
LAHO    56
PESH    50
MULT    49
SUKK    48
Name: count, dtype: int64

#### Aiport Data

In [11]:
airportData.shape

(132, 4)

In [12]:
airportData.head()

  ICAO Code  Latitude  Longitude      City
0      ISLA      2580       2886  Peshawar
1      ISLA      3785       2691   Karachi
2      ISLA      2225        264    Lahore
3      ISLA       106       2616    Quetta
4      ISLA      1799       2184    Multan

In [13]:
airportData.isnull().sum()

ICAO Code    0
Latitude     0
Longitude    0
City         0
dtype: int64

In [18]:
airportData['ICAO Code'].value_counts()

ICAO Code
ISLA    11
PESH    11
KARA    11
LAHO    11
QUET    11
MULT    11
FAIS    11
RAWA    11
SIAL    11
GUJR    11
SUKK    11
GWAD    11
Name: count, dtype: int64

In [19]:
airportData['City'].value_counts()

City
Peshawar      11
Karachi       11
Lahore        11
Quetta        11
Multan        11
Faisalabad    11
Rawalpindi    11
Sialkot       11
Gujranwala    11
Sukkur        11
Gwadar        11
Islamabad     11
Name: count, dtype: int64

#### weatherData

In [14]:
weatherData.shape

(60000, 4)

In [15]:
weatherData.head()

         Date  Wind Speed  Wind Direction        City
0  2007-01-01   24.316468      255.233176      Multan
1  2007-01-01   28.748364      104.971560   Islamabad
2  2007-01-01   27.188154      170.915093  Gujranwala
3  2007-01-01    8.418233      268.304630     Karachi
4  2007-01-01    1.945127      648.329295     Sialkot

In [20]:
weatherData['City'].value_counts()

City
Multan        5000
Islamabad     5000
Gujranwala    5000
Karachi       5000
Sialkot       5000
Lahore        5000
Rawalpindi    5000
Quetta        5000
Gwadar        5000
Peshawar      5000
Sukkur        5000
Faisalabad    5000
Name: count, dtype: int64